<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Flashcards Login</title>
        <link rel = "stylesheet" href="{% static "css/base.css" %}"
    </head>

    <body>
        <h1>Login to Flashcards</h1>

        <form id="login_form" method="post" action="/Login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" placeholder="USERNAME" required />
            <br />
            Password: <input type="password" name="password" value="" size="50" placeholder="PASSWORD" required/>
            <br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>