{% extends 'base.html' %}

{% load staticfiles %}

{%  block title %} Group {{ group.group_name }} {% endblock %}

{# need a sidebar in here for multi choice, need to scroll to bottom currently #}

{% block body_block %}
    {# this will display all different groups available #}
    <div class="container-fluid">
        <div class="row">


            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="{% url "readyquiz" %}?name={{ group }}&quiz=multi">Multi choice quiz </a>
                    </li>
                    <li>
                        <a href="{% url "readyquiz" %}?name={{ group }}&quiz=self">Self marked quiz</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% if cards %}
                    {% for card in cards %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Student: {{ card.name }}</h3>
                            </div>
                            <div class="panel-body">
                                Student Number: {{ card.student }}<br>
                                Bio: {{ card.bio }}<br>
                                {% if pictures %}
                                    {% for p in pictures %}
                                        {% ifequal p.student card %}
                                            <br> <img src="{{ p.file.url }}"style="width:50%;height:50%;" /> <br>
                                        {% endifequal %}
                                    {% endfor %}
                                {% else %}
                                    <a href="{% url "addpicture" %}?card={{ card }}">add a picture for {{ card.name }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <a class="btn btn-primary btn-lg btn-block" href="{% url "readyquiz" %}?name={{ group }}&quiz=multi" role="button">Multi choice quiz</a>
                    <a class="btn btn-primary btn-lg btn-block" href="{% url "readyquiz" %}?name={{ group }}&quiz=self" role="button">Self marked quiz</a>
                {% else %}
                    <h2>There are no cards in this group</h2>
                    <br>
                    <a class="btn btn-primary btn-lg" href="{% url "create" %}" role="button">Click here to create one</a> <br> <br>
                    <a class="btn btn-primary btn-lg" href="{% url "upload" %}" role="button">Or click here to bulk upload a lot</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
