{% extends 'base.html' %}

{% load staticfiles %}

{%  block title %} Create a card {% endblock %}

{% block body_block %}
    <br>
    <div class="container">

        <form id="card_form" method="post" action="/names/create/"
                enctype="multipart/form-data">

            {% csrf_token %}
            <div class="row">
                <div class="col-lg-5">
                    <h2>Enter person details:</h2>
                    {{ card_form.as_p }}
                </div>
                <div class="col-lg-1" id="separate">
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                    |<br>
                </div>
                <div class="col-lg-5">
                    <h2>Picture:</h2>
                    {{ pic_form.as_p }}
                </div>
            </div>



            <button type="submit" class="btn btn-lg btn-primary btn-block">Create your card</button>
        </form>



    </div>
{% endblock %}

<script>
    $(document).ready(function () {
        $(window).resize(function () {
            $('#separate').hide()
        })
    });
</script>