{% extends 'base.html' %}

{% load staticfiles %}

{%  block title %} View Groups {% endblock %}

{#this needs to be pop up#}
{% block body_block %}
    <br>
    <div class="container">
        <div id="view">
            <form id="group_form" method="post" action="/names/groups/"
                  enctype="multipart/form-data">
                {% csrf_token %}
                To add another group:<br>
                <input id="id_group_name" maxlength="40" name="group_name" type="text" placeholder="Press enter to submit"/>
            </form>
            <br>
            {# this will display all different groups available #}
            {% if groups %}
                {% for group in groups %}
                    <a class="btn btn-lg btn-primary" href="{% url "cardview" %}?name={{ group.id }}" role="button">Group name:{{ group.group_name }} <br> id:{{ group.id }}</a> <br>
                    <br>
                {% endfor %}
            {% else %}
                <strong>There are no groups</strong>
            {% endif %}

        </div>
    </div>
{% endblock %}