{% extends 'base.html' %}

{% load staticfiles %}

{%  block title %} View Groups {% endblock %}

{#this needs to be pop up#}
{% block body_block %}
<div class="container">
    <div id="view">
        <form id="groups_form" method="post" action="/names/cardview/"
              enctype="multipart/form-data">
            <br>
            {# this will display all different groups available #}
            {% if groups %}
                {% for group in groups %}
                    <a class="btn btn-lg btn-primary" href="{% url "cardview" %}?name={{ group.group_name }}" role="button">Group {{ group.group_name }}</a> <br>
                    <br>
                {% endfor %}
            {% else %}
                <strong>There are no groups</strong>
            {% endif %}
        </form>
        <form id="group_form" method="post" action="/names/groups/"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ group_form.as_p }}

        </form>
    </div>
</div>
{% endblock %}