
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Homepage {% endblock %}
{% block body_block %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Welcome to Names!</h1>
            {% if user.is_authenticated %}
                <h3>You are Logged in as {{ user.username }}</h3>
                <br>
                <a href="/names/logout/">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url "login" %}" role="button">Login</a>
            {% endif %}
        </div>
    </div>
{% endblock %}