{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Are you ready? {% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        {% ifequal quiz_type "multi" %}
            {% if msg %}
                <h2> {{ msg }} </h2>
                <br><br><br>
                <a class="btn btn-primary btn-sm" href="{% url "groupview" %}" role="button">Quit and Return to groups</a>
            {% else %}
                <a class="btn btn-primary btn-lg btn-block" href="{% url "quiz" %}" role="button">Ready</a>
            {% endif %}
        {% endifequal %}
        {% ifequal quiz_type "self" %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url "selfmark" %}" role="button">Ready</a>
        {% endifequal %}
    </div>
{% endblock %}