{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Mark yourself! {% endblock %}

{% block body_block %}
    <div class="container">
        <div id="page">
            {% ifequal count 10%}
                <br>
                <a class="btn btn-primary btn-lg btn-block" href="{% url "complete" %}?score={{ score }}" role="button">Finish!</a>
            {% else %}
                {% if cards %}
                    Who is this student?: <br><img id="picture" class="img-thumbnail" src="/media/{{ pictures.2}}"style="width:50%;height:50%;" /><br>
                    <label hidden id="name">{{ cards.2 }}</label>
                    <button type="button" onclick='myFunction()' class="btn btn btn-primary" id="button">Click to reveal name</button> <br>
                    <button type="button" onclick='answeredq(value)' class="btn btn-sm btn-success" value="correct" id="correct"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                    <button type="button" onclick='answeredq(value)' class="btn btn-sm btn-danger" value="wrong" id="wrong"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                {% endif %}
            {% endifequal %}
        </div>
    </div>

    <script>
        $(document).ready(function(){

            $('#correct').hide()
            $('#wrong').hide()
        })
        function myFunction(){
            $("#name").show()
            $("#button").hide()
            $("#correct").show()
            $('#wrong').show()
        }

        function answeredq(value) {
            score = {{ score }}
            if (value == "correct") {
                score++
            }



        $.ajax({
            url:'{% url "selfmark" %}',
            type:"GET",
            data:{score:score},
            success:function(data){
                $("#page").html(data)
            }
        })
        }

    </script>

{% endblock %}